push.sh
.vscode/
.env
*.env
*.db.sqlite3
*.db.sqlite
payarena/db.sqlite3
__pycache__/
*.pyc
.idea
*.idea
.idea/*
log.log
payarenamall.log
paymall.log
*.log
*.sqlite
*.sqlite3
.DS_Store
*.DS_Store

# Project image and file folders
brand-images/
product-images/
category-images/
seller-files/
seller-verification/
store-logo/
.push.py
static/
promo-banners/
seller-profile-picture/
returns/
product-type-images/
.todo
images/*
